body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex: 3;
  font-size: 1rem;
  font-weight: 100;    
  cursor: pointer;
  color: #fff;
  background: linear-gradient( 90deg, rgb(223, 81, 159, 1) 0%, rgb(109, 63, 109) 50%, rgb(56, 19, 56) 100% ); 
  padding-top: 250px;
}

#paragraph-result {
  margin-top: 50px;
}

#button-calculate-imc {
  background-color: rgb(138, 138, 238);
  border-radius: 5px;
}

input {
  margin-top: 5px;
  width: 200px;
}
